html {
  font-size: 62.5%;
  background-image: url("social-media-3846597.svg");
}

.App {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-size: 5rem;
  border: transparent 1px;
  border-radius: 10px;
  background-color: skyblue;
  width: 25%;
  padding: 1rem;
  display: inline-block;
}

.form {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 300px;
  margin: 0 auto;
  border: transparent 1px;
  padding: 50px;
  padding-right: 65px;
  background-color: skyblue;
  border-radius: 10px;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0;
  font-size: 1.4rem;
}

input, select {
  width: 100%;
  margin: 5px 0 0;
  display: block;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  transition: all 0.3s;
  padding: 10px;
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  background-color: snow;
}

select {
  margin-left: 15px;
}

input:focus {
  outline: none;
  border-color: teal;
}

button {
  width: 150px;
  display: inline-block;
  padding: 8px 11px;
  font-size: 1.2rem;
  text-transform: uppercase;
  border: 0;
  border-radius: 5px;
  letter-spacing: 2px;
  background-color: aquamarine;
  background-image: linear-gradient(to right, #4dd0e1, #1ee7e2);
  color: aliceblue;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin-left: 7.5rem;
  margin-top: 2rem;
}

button:hover {
  transform: scale(1.2);
  transition: all .2s ease-in-out;
}

.error {
  font-size: 1.2rem;
  color: red;
}

.termsDiv {
  display: flex;
  align-items: center;
  padding-left: 7.5rem;
}

.terms {
  padding-left: 1rem;
}

.box {
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  width: 2rem;
}

.users {
  font-size: 2rem;
  padding: 5rem;
  border: transparent black;
  border-radius: 10px;
  background-color: skyblue;
  display: inline-block;
  width: 30%;
}


